<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title>AlenaNail</title>
        <link rel="shortcut icon" type="image/png" th:href="@{/image/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1 th:fragment="headBody">Студия маникюра - AlenaNail</h1>
        <ul th:fragment="navBar(activeTab)">
            <li><a th:class="${activeTab == 'home'}? 'active' : null" th:href="@{/}">Главная</a></li>
            <li><a th:class="${activeTab == 'services'}? 'active' : null" th:href="@{/services}">Услуги</a></li>
            <li><a th:class="${activeTab == 'promotions'}? 'active' : null" th:href="@{/promotions}">Акции</a></li>
            <li><a th:class="${activeTab == 'photoGallery'}? 'active' : null" th:href="@{/photos}">Фото</a></li>
            <li><a th:class="${activeTab == 'contacts'}? 'active' : null" th:href="@{/contacts}">Контакты</a></li>
            <li class="right">
                <a th:class="${activeTab == 'registration'}? 'active' : null" href="#/registration">Регистрация</a>
            </li>
            <li th:if="${#httpServletRequest.userPrincipal == null}" class="right">
                <a th:class="${activeTab == 'login'}? 'active' : null" th:href="@{/login}">Войти</a>
            </li>
            <li th:unless="${#httpServletRequest.userPrincipal == null}" class="right">
                <a th:class="${activeTab == 'logout'}? 'active' : null" th:href="@{/logout}">Выйти</a>
            </li>
        </ul>
        <p th:fragment="footer">
            © 2017 AlenaNail
        </p>
    </body>
</html>