<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title>AlenaNail</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{css/style.css}"/>
    </head>
    <body>
        <ul th:fragment="navbar(activeTab)" class="nav">
            <li><a th:class="${activeTab == 'home'}? 'active' : null" th:href="@{/}">Главная</a></li>
            <li><a th:class="${activeTab == 'services'}? 'active' : null" th:href="@{/services}">Услуги</a></li>
            <li><a th:class="${activeTab == 'promotions'}? 'active' : null" href="#">Акции</a></li>
            <li><a th:class="${activeTab == 'photos'}? 'active' : null" href="#">Фото</a></li>
            <li><a th:class="${activeTab == 'contact'}? 'active' : null" href="#">Контакты</a></li>
        </ul>
        <p th:fragment="footer">
            Test include footer fragment
        </p>
    </body>
</html>